#player0 {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  left: 15%;
  position: fixed;
  .player-title {
    position: absolute;
    top: -50px;
  }
}
#player2 {
  top: 0;
  display: flex;
  width: 70%;
  left: 15%;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  .player-title {
    position: absolute;
    bottom: -50px;
  }
}
#player1 {
  left: 0;
  display: flex;
  width: 15%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  .player-title {
    position: absolute;
    right: -200px;
  }
}
#player3 {
  right: 0;
  display: flex;
  width: 15%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  .player-title {
    position: absolute;
    left: -200px;
  }
}

#table-deck {
  position: fixed;
  top: 40%;
  left: 40%;
}
#table-pile {
  position: fixed;
  top: 50%;
  left: 50%;
}
#table {
  position: fixed;
  height: 40%;
  width: 40%;
  top: 30%;
  left: 30%;
  background-color: green;
}
