body {
  background-color: green;
}

#player0 {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70vw;
  height: 15vh;
  right: 15vw;
  position: fixed;
}

#player0 .player-title {
  position: absolute;
  top: -80px;
}

#player0 .player-current-hand {
  position: absolute;
  top: -30px;
}

#player2 {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  height: 15vh;
  left: 15vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
}

#player2 .player-title {
  position: absolute;
  bottom: -100px;
}

#player2 .player-current-hand {
  position: absolute;
  bottom: -60px;
}

#player1 {
  position: fixed;
  height: 100vh;
  width: 15vw;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#player1 .player-title {
  position: absolute;
  right: -80px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#player1 .card {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 15vh;
}

#player1 .player-current-hand {
  position: absolute;
  right: -30px;
}

#player3 {
  position: fixed;
  height: 100vh;
  width: 15vw;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#player3 .player-title {
  position: absolute;
  left: -80px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

#player3 .card {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  width: 15vh;
}

#player3 .player-current-hand {
  position: absolute;
  left: -30px;
}

.player-input {
  height: 90%;
  width: 90%;
  background-color: inherit;
  font-size: 36px;
  color: white;
  text-align: center;
  overflow: hidden;
  border: none;
}

#table-deck {
  background-image: url("./cards-svg/Card_back.svg");
  background-size: contain;
  height: 150px;
  width: 100px;
  position: fixed;
  top: 35vh;
  left: 30vw;
  z-index: 2;
}

#table-pile {
  position: fixed;
  top: 35vh;
  left: 40vw;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#table {
  position: fixed;
  height: 50vh;
  width: 50vw;
  top: 25vh;
  left: 25vw;
  background-color: limegreen;
}

#start-button {
  height: 100%;
  width: 100%;
  background-color: greenyellow;
  z-index: 50;
  font-size: 200px;
  line-height: 100%;
}
/*# sourceMappingURL=style.css.map */